
.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  position: relative;
}

.riceImageContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.riceImage {
  animation: appear ease 2s forwards;
  opacity: 0%;
  object-fit: contain;
  max-width: 90%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }  
  40% {
    opacity: 0%;
  }  
  100% {
    opacity: 100%;
  }  
}

.line code {
  background-color: #333333;
  border-radius: 3px;
  font-family: courier, monospace;
  color: #ffffff;
  font-weight: 200;
  padding: 0 3px;
}

.line h1 {
  font-size: 3rem;
  color: #CCCCCC;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.line h2 {
  font-size: 2.5rem;
  color: #CCCCCC;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 1.2rem;
}

.line p {
  font-size: 1.5rem;
  line-height: 1.6;
  padding-bottom: 1rem;
  left: -50vw;
  animation: slide ease 2s forwards;
  position: relative;
  opacity: 0%;
}

.line a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-weight: 800;
  color: #0077cc; /* Change this to your preferred link color */
}

.line a:hover, .bioText a:focus {
  background-size: 100% 2px;
}
@keyframes slide {
  to {
    left: 0vw;
  }
  
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.socialIcon {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  color: #7f8c8d;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #34495e;
}
