
.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon {
  font-size: 3rem;
  color: #333;
  transition: color 0.3s ease;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.icon:hover {
  color: #0077b5; /* LinkedIn blue */
}

.socialLinks a:nth-child(2):hover .icon {
  color: #6e5494; /* GitHub purple */
}

.socialLinks a:nth-child(3):hover .icon {
  color: #D44638; /* Gmail red */
}

.socialLinks a:nth-child(4):hover .icon {
  color: #4285F4; /* Google blue */
}

.socialLinks a:nth-child(5):hover .icon {
  color: #6cc644; /* GitHub green */
}
