/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/LandingPage.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.LandingPage_container__cRKQg {
  background-color: #252525;
  font-family: 'Jet Brains Mono', sans-serif;
}

.LandingPage_header__XGsK9 {
  background-color: #323232;
  padding: 2rem;
  text-align: center;
}

.LandingPage_howdy__szZvy {
  position: relative;
  margin-bottom: 5rem;
  font-size: 3rem;
  color: #F3B61F;
  color: #d49a0b;
  font-weight: 700;
  margin: 0;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 1); /* X offset, Y offset, blur radius, color */
}

.LandingPage_howdyContainer__6exZj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
}

.LandingPage_bioContainer___JmbO {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  width: auto;
}

.LandingPage_bioText__AC5gY {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingPage_bioText__AC5gY p {
  padding-top: 5rem;
  font-size: 2.5rem;
  line-height: 1.6;
  left: -50vw;
  animation: LandingPage_slide__Kg9AM ease 2s forwards;
  position: relative;
  opacity: 0%;
}

@keyframes LandingPage_slide__Kg9AM {
  to {
    left: 0vw;
  }
  
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.LandingPage_bioLeft__AmXai {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.LandingPage_profileImageContainer__CtxDW {
  position: relative;
  flex: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
}

.LandingPage_profileImage__LCp4_ {
  filter: drop-shadow(30px 30px 4px #a47708);
  height: 714px;
  animation: LandingPage_appear__wB4rQ ease 2s forwards;
  opacity: 0%;
}

@keyframes LandingPage_appear__wB4rQ {
  0% {
    opacity: 0%;
  }  
  40% {
    opacity: 0%;
  }  
  100% {
    opacity: 100%;
  }  
}

.LandingPage_socialLinks__jmGt2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.LandingPage_socialIcon__ByeiP {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  color: #7f8c8d;
  transition: color 0.3s ease;
}

.LandingPage_socialIcon__ByeiP:hover {
  color: #34495e;
}

.LandingPage_contactInfo__XNmTH {
  display: flex;
  min-height: 100px;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.1rem;
  color: #7f8c8d;
}

.LandingPage_contactInfo__XNmTH p {
  padding-bottom: 1rem;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/signatures/IsaacChacko.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/

.IsaacChacko_signatureContainer__dfWIc { display: inline-block;
  width: 80%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 1));
}

.IsaacChacko_signatureContainer__dfWIc svg {
  width: 100%;
  height: 100%;
}

.IsaacChacko_signatureContainer__dfWIc path {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke: #d49a0b; /* Adjust color as needed */
  fill: #d49a0b; /* Adjust color as needed */
  stroke-width: 2; /* Adjust thickness as needed */
  stroke-dasharray: 3349.56787109375px;
  stroke-dashoffset: 3349.56787109375px;
  fill-opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: IsaacChacko_drawSignature__sJRRQ 10s ease-in backwards, IsaacChacko_fillIn__xG_A8 3s linear forwards;
  animation-delay: 2s;
}

.IsaacChacko_signatureContainer__dfWIc path[id="0"] { animation-delay: 0s; }
.IsaacChacko_signatureContainer__dfWIc path[id="1"] { animation-delay: 0.1s; }
.IsaacChacko_signatureContainer__dfWIc path[id="2"] { animation-delay: 0.2s; }
.IsaacChacko_signatureContainer__dfWIc path[id="3"] { animation-delay: 0.3s; }
.IsaacChacko_signatureContainer__dfWIc path[id="4"] { animation-delay: 0.4s; }
.IsaacChacko_signatureContainer__dfWIc path[id="5"] { animation-delay: .5s; }
.IsaacChacko_signatureContainer__dfWIc path[id="6"] { animation-delay: .6s; }
.IsaacChacko_signatureContainer__dfWIc path[id="7"] { animation-delay: .7s; }
.IsaacChacko_signatureContainer__dfWIc path[id="8"] { animation-delay: .8s; }
.IsaacChacko_signatureContainer__dfWIc path[id="9"] { animation-delay: .9s; }
.IsaacChacko_signatureContainer__dfWIc path[id="10"] { animation-delay: 1s; }
.IsaacChacko_signatureContainer__dfWIc path[id="11"] { animation-delay: 1.1s; }

@keyframes IsaacChacko_drawSignature__sJRRQ {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes IsaacChacko_fillIn__xG_A8 {
  0% {
    fill-opacity: 0;
  }
  70% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/NavButtons.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

.NavButtons_buttonContainer__scLkY {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.NavButtons_socialLinks__V3nsn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.NavButtons_socialLinks__V3nsn:hover::after {
  opacity: 1;
  visibility: visible;
}

.NavButtons_button__2b9rs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.NavButtons_button__2b9rs:hover {
  background-color: #555;
}

.NavButtons_button__2b9rs:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.NavButtons_button__2b9rs svg {
  margin-right: 10px;
  fill: #fff;
  width: 24px;
  height: 24px;
}

.NavButtons_button__2b9rs span {
  line-height: 1;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/SocialLinks.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.SocialLinks_socialLinks__ePapD {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.SocialLinks_icon__QNYxd {
  font-size: 3rem;
  color: #333;
  transition: color 0.3s ease;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.SocialLinks_icon__QNYxd:hover {
  color: #0077b5; /* LinkedIn blue */
}

.SocialLinks_socialLinks__ePapD a:nth-child(2):hover .SocialLinks_icon__QNYxd {
  color: #6e5494; /* GitHub purple */
}

.SocialLinks_socialLinks__ePapD a:nth-child(3):hover .SocialLinks_icon__QNYxd {
  color: #D44638; /* Gmail red */
}

.SocialLinks_socialLinks__ePapD a:nth-child(4):hover .SocialLinks_icon__QNYxd {
  color: #4285F4; /* Google blue */
}

.SocialLinks_socialLinks__ePapD a:nth-child(5):hover .SocialLinks_icon__QNYxd {
  color: #6cc644; /* GitHub green */
}

